body {
  font-family: Arial;
  background: linear-gradient(45deg,#ff9a9e,#fad0c4);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  overflow:hidden;
}

.card {
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  animation: pop 1s ease;
}

@keyframes pop{
  0%{transform:scale(0);}
  100%{transform:scale(1);}
}

h1{
  color:#ff4d6d;
}

button{
  padding:12px 25px;
  margin:10px;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.15);
}

button:first-child{
  background:#ff4d6d;
  color:white;
}

button:last-child{
  background:#ccc;
}

#result{
  margin-top:20px;
  color:#ff4d6d;
  animation: fade 1s;
}

@keyframes fade{
  from{opacity:0;}
  to{opacity:1;}
}

/* หัวใจลอย */
.heart{
  position:fixed;
  bottom:-20px;
  pointer-events:none;
  animation: floatUp linear forwards;
  filter: drop-shadow(0 0 6px rgba(255,0,100,0.6));
}

@keyframes floatUp{
  0%{
    transform:translateY(0) scale(0.5) rotate(0deg);
    opacity:1;
  }
  100%{
    transform:translateY(-120vh) scale(1.5) rotate(360deg);
    opacity:0;
  }
}

.explosion{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  pointer-events:none;
}

.boomHeart{
  position:absolute;
  font-size:30px;
  animation: boom 1.2s ease-out forwards;
}

@keyframes boom{
  0%{
    transform:translate(0,0) scale(0.5);
    opacity:1;
  }
  100%{
    transform:translate(var(--x),var(--y)) scale(1.8);
    opacity:0;
  }
}

/* คำว่า เย่ ระเบิดกลางจอ */
/* เย่ถล่มจอ สีเหลือง */
.yayText{
  position:fixed;
  font-size:80px;
  font-weight:bold;
  color:#ffd700;
  text-shadow:
    0 0 10px #fff176,
    0 0 20px #ffeb3b,
    0 0 40px #ffc107;
  animation: yayBoom 5s ease-out forwards;
  pointer-events:none;
}

@keyframes yayBoom{
  0%{
    transform:scale(0.5);
    opacity:0;
  }
  40%{
    transform:scale(1.3);
    opacity:1;
  }
  100%{
    transform:scale(2);
    opacity:0;
  }
}



/* มือถือ */
@media (max-width:600px){

  body{
    height:100vh;
    padding:10px;
  }

  .card{
    width:95%;
    padding:25px;
    border-radius:25px;
  }

  h1{
    font-size:22px;
  }

  p{
    font-size:18px;
  }

  button{
    width:100%;
    font-size:18px;
    padding:15px;
    margin:8px 0;
  }

  #result{
    font-size:20px;
  }
}
